<search role="search">
  <form class="static-snap-search-form">
    <div class="static-snap-search-form-container">
      <label class="elementor-screen-only" for="static-snap-search-form-{{id}}">{{label}}</label>
      <input
        id="static-snap-search-form-{{id}}"
        placeholder="{{placeholder}}"
        type="search"
        name="s"
        value=""
      />
      <button type="submit" aria-label="{{label}}">
        <i aria-hidden="true" class="fas fa-search"></i>
        <span class="elementor-screen-only">{{submit}}</span>
      </button>
    </div>
  </form>
</search>
